<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= render template: 'users/foo' %>
<%= render partial: 'users/bar' %>
<%= render 'users/bar' %>
<%= render 'users/baz', locals: { users: @users } %>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!--<td><%= user.firstname.titleize %> <b><%= user.lastname.upcase %></b></td>-->
        <%= render_fullname(user) %>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
